@import "../../Styles/abstarct/_variables.scss";

// Docs Specific Variable Overrides
$border-color: #c2cfe3;
$rs-font-bold: 'MuktaBold', sans-serif;
$secondary-grey: #999999;
$tertiary-grey: #e9e9e9;
