.element-builder-hover { 
    
        border: none;
    
    
    // .pop{
    //     display: none;
    // }
}

.element-builder-hover:hover {
    
        border: 1px solid #0b7cc1;
    
    
    // .pop{
    //     display: block;
        
        
    // }
}

.selected { 
    border : 3px dashed #1671aa
}

.viewComponents { 
    border : 1px dashed rgba(170,170,170,0.7);
}

[contenteditable] {
    outline: 0px solid transparent;
  }

.icon-hover {
    background-color: none;
}

.icon-hover:hover {
    background-color: #004fdf;
}
.setting-modal-message {
    .validation-message {
        background-color: transparent;
    }
}